@import 'tailwindcss';
@import './theme.css';
@import './utilities.css';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

/* Spotlight cursor classes */
.cursor-spotlight,
.cursor-spotlight::before {
    background: radial-gradient(
        1000px circle at var(--mouse-x, 50%) var(--mouse-y, 50%),
        rgba(91, 83, 213, 0.149),
        transparent 40%
    );
    transition: background 0.1s ease;
}

dialog {
    opacity: 0;
    transform: scale(0);
    transition:
        opacity 0.3s ease-out,
        transform 0.3s ease-out;
}

dialog[open] {
    opacity: 1;
    transform: scale(1);
    display: block;

    @starting-style {
        opacity: 0;
        transform: scale(0);
    }
}
